.welcome-img-container {
  height: 100%;
  width: 100%;
}

.welcome-img {
  height: 100%;
  width: 100%;
  background: url("../assets/img/Toronto.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.login-box {
  display: grid;
  grid-column: 2/3;
  grid-row: 4;
  justify-content: center;
}

.ml3 {
  font-weight: 900;
  font-size: 3.5em;
  color: whitesmoke;
}

.anime {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  justify-content: center;
  text-align: center;
}

.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome-outter-container {
  background: black;
}
