#education{

  
    padding-bottom:0px;
  
}





.article-list {
  display: flex;
  flex-wrap: wrap;

  .article {
    flex: 0 0 calc(33% - 2rem); //3 on each line
    margin: 2rem 1rem;
  }
}

.edu-title {
  margin-top: 0px;
  padding-top: 15px;
  padding-left: 15px;
  color: whitesmoke;
}

.img-wrapper {
  height: 100%vh;
  width: 100%;
}

.img-container {
  width: 100%;
  height: 100%;
  background: url("../../img/Nepal.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  // display: grid;
  // grid-template-columns: auto;
}

.MuiCard-root {
  opacity: 0.85;
}

.progress-bar {
  background-color: #ffbcc4;
  color: black;


 
}
