.addExpenseDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-1expense-div {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

#add-expense-id {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.inside-1expense-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.file-upload {
  display: flex;
  flex-direction: row;
}

.select-btn {
  margin-right: 15px;
}

.content-wrapper {
  height: 100%;
  width: 100%;
  overflow:hidden;
}

.content1 {
  height: 100%;
  width: 100%;
}

// .both-expense-tables{
//   width:100%;
//   display:grid;
//   justify-content:space-between;
//     grid-column: 1/2;

// }
.expcard2{
  background-color:red;
}

.contentExpenses1 {
  width: 100%;
  height: 110vh;
  background: url("../../img/NewYork.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1.5fr 1fr;
}

.expenses-table1 {
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
  opacity: 0.97;
  margin-top: 3em;
  margin-bottom: 3 em;
  margin: auto;
  // justify-content: center;
}

.expenses-table2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  width: 80%;
  opacity: 0.97;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height:450px;
  
}

.expenses-table3 {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  width: 80%;
  margin: auto;
  opacity: 0.97;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height:450px;

}

.mdb {
  width: 60em;
}

.page-link.page-link {
  background-color: red;
}
