.addExpenseDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.file-upload {
  display: flex;
  flex-direction: row;
}

.select-btn {
  margin-right: 15px;
}

.content-wrapper {
  height: 100%vh;
  width: 100%;
}

.content1 {
  height: 100%;
  width: 100%;
}

.contentExpenses1 {
  width: 100%;
  height: 100%;
  background: url("../../img/Toronto.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: auto;

  // grid-template-columns: 500px, 500px, 500px;
  // grid-template-rows: 500px, 500px, 500px ;
}

.expenses-table1 {
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
  opacity: 0.9;

  margin: auto;
  // justify-content: center;
}

.expenses-table2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  width: 80%;
  opacity: 0.9;
}

.expenses-table3 {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  width: 80%;
  margin: auto;
  opacity: 0.9;
}

.mdb {
  width: 90em;
}
