.goal{
  width: 96%;
  margin: auto;
  border: solid;
  border-radius: 20px;
  border-color: rgb(150, 186, 218);
  margin-bottom: 10px;

  .header{
    padding: 5px 10px;
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: auto auto;
  }

  .title{
    margin: $none;
    color: $black-color;
    font-weight: $font-weight-bold;
    padding: 5px;
  }

  .icons{
    text-align: right;
    font-size: 20px;

    .icon{
      &:hover {
        font-size: 22px;
      }
    }
  }

  .content{
    position: relative;
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    display: none;
  }

  .description{
    padding: 5px 10px;
    display: none;
  }
}

.goalClick {
  border-color: rgb(42, 101, 203);

  .content{
    display: block;
  }

  .description {
    display: block;
  }
}

.goalForm{
  width: 96%;
  margin: auto;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(42, 101, 203);
  background-color: white;
  margin-bottom: 10px;

    .goalWrapper{
      padding: 5px 10px;
      display: grid;
      grid-template-columns: 1fr 50px;
      grid-template-rows: auto auto 50px;
    }

    .inputName{
      font-size: 20px;
      grid-column: 1/3;
      grid-row: 1/2;
      height: 35px;
      border-color: rgb(150, 186, 218);
      border-radius: 10px;
      resize: none;
      background: none;
    }

    .inputDescription{
      font-size: 20px;
      width: 100%;
      height: 200px;
      border-color: rgb(150, 186, 218);
      border-radius: 10px;
      resize: none;
      background: none;
    }

    .inputAmount{
      font-size: 20px;
      width: 200px;
      height: 30px;
      border-color: rgb(150, 186, 218);
      border-radius: 10px;
      resize: none;
      background: none;
      overflow: hidden;
    }

    .icons{
      text-align: right;
      font-size: 20px;

      .icon{
        &:hover {
          font-size: 22px;
        }
      }
    }

    .content{
      position: relative;
      font-size: 16px;
      padding: 0px;
      grid-column: 1/3;
      grid-row: 2/3;

      .flex{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;

        .width200{
          width: 200px;
        }
      }
    }

    .buttons{
      position: relative;
      height: 50px;
      text-align: right;
      grid-column: 1/3;
      grid-row: 3/4;

      .button{
        border-radius: 20px;
        margin: 5px;
      }
    }
}

.goalNew{
  width: 96%;
  margin: auto;
  border: solid;
  border-radius: 20px;
  border-color: rgb(150, 186, 218);
  margin-bottom: 10px;

    .icons{
      padding-top: 10px;
      text-align: center;
      font-size: 50px;

      .icon{
        &:hover {
          font-size: 55px;
        }
      }
  }
}