@media only screen and (min-width: 1276px) {
  .budgetContents {
    min-height: calc(100% - 123px);
  
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 70px 20px auto auto auto auto 1fr;

    .budgetContent {
      position: relative;
      display: grid;
    }

<<<<<<< HEAD
=======
    .budgetBG {
      background-image: url('../../img/NewYork.jpg');
      grid-column: 1/2;
      grid-row: 3/8;
      z-index: -1;
    }

>>>>>>> James/budget41 (#60)
    .budgetContentAB {
      grid-column: 1/2;
      grid-row: 3/8;

      grid-template-columns: 100%;
      grid-template-rows: auto auto 1fr;
    }

    .budgetContentAC {
      grid-column: 1/3;
      grid-row: 3/8;

      grid-template-columns: 100%;
      grid-template-rows: auto auto 1fr;
    }

    .budgetContentA {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .budgetContentB {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .budgetContentCD {
      grid-column: 1/3;
      grid-row: 4/5;
    }

    .budgetContentC {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    .budgetContentD {
      grid-column: 2/3;
      grid-row: 4/5;
    }

    .budgetContentE {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    .budgetContentF {
      grid-column: 2/3;
      grid-row: 5/6;
    }

    .budgetContentG {
      grid-column: 2/3;
      grid-row: 6/7;
    }

    .budgetContentH {
      grid-column: 2/3;
      grid-row: 7/8;
    }
  }
}

//default cases

.budgetNav {
 height: 65px;
 width: calc(100% - 260px);
 background-color: white;
 border-top: solid;
 border-bottom: solid;
 border-width: 1px;
 border-color: rgb(160, 160, 160);
 position: fixed;
 z-index: 1;

 display: grid;
 grid-template-columns: 160px 1fr 30px;
 grid-template-rows: 1fr;

 .budgetNavA {
  position: relative;
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: right;
 }

 .budgetNavB {
  position: relative;
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
 }

 .budgetButtons {
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
  }

  .budgetPlanToggle {
    margin-top: 15px;
    margin-left: 5px;
    height: 30px;
    width: 120px;
    border: solid 1px black;
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    background-color: red;
  }

  .budgetPlanOn {
    background-color: green;
  }
}

.budgetGraphCardGrid {
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 60px 1fr;
}

.budgetGraphCardGraph {
  position: relative;
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
}

.top100px {
  padding-top: 100px;
}

.budgetPlannerError {
  color: red;
}

.budgetPlannerButtons {
  width: 100%;
  text-align: right;
  
  .button{
    border-radius: 20px;
    margin: 5px;
  }
}

.budgetBG {
  background-image: url('../../img/HongKong.jpg');
  background-size: 120%;
  opacity: 0.8;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.budgetWrap {
  width: 100%;
}

<<<<<<< HEAD
.budgetBG {
  background-image: url('../../img/HongKong.jpg');
  background-size: auto 100%;
  opacity: 0.8;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 0;
=======
@media only screen and (max-width: 991px) {
  .budgetNav {
    width: 100%;
  }
>>>>>>> James/budget41 (#60)
}

@media only screen and (max-width: 1275px) {
  .budgetContents {
    min-height: calc(100% - 123px);
  
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 20px auto auto auto auto auto;

    .budgetContent {
      position: relative;
      display: grid;
    }

<<<<<<< HEAD
    .budgetContentAF {
      grid-column: 1/2;
      grid-row: 3/8;
      overflow: hidden;
=======
    .budgetBG {
      background-image: url('../../img/HongKong.jpg');
      background-size: 120%;
      opacity: 0.8;
      position: fixed;
      height: 100vh;
      width: 100%;
      z-index: 0;
>>>>>>> James/budget41 (#60)
    }

    .budgetContentAB {
      grid-column: 1/2;
      grid-row: 3/4;

      grid-template-columns: 100%;
      grid-template-rows: auto auto;
    }

    .budgetContentA {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .budgetContentB {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .budgetContentC {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    .budgetContentD {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    .budgetContentE {
      grid-column: 1/2;
      grid-row: 6/7;
    }

    .budgetContentF {
      grid-column: 1/2;
      grid-row: 7/8;
    }
  }
}

<<<<<<< HEAD
@media only screen and (max-width: 991px) {
  .budgetNav {
    width: 100%;
  }
}

@media only screen and (max-width: 699px) {
  .budgetNav {
    height: 130px;
  
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: 65px 65px;
  
    .budgetNavA {
    position: relative;
    display: grid;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    }
  
    .budgetNavB {
    position: relative;
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    }
  
    .budgetButtons {
    display: flex;
    max-width: 100%;
    justify-content: center;
    }
  }

  .budgetContents {
    grid-template-rows: 135px 20px auto auto auto auto auto;
  }
}

@media only screen and (max-width: 549px) {
  .budgetGraphCardGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 60px 1fr;
  }
  
  .budgetGraphCardGraph {
    position: relative;
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
  }
}

@media only screen and (max-width: 449px) {
  .budgetNav {
    height: 195px;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 65px;
  
    .budgetNavA {
      position: relative;
      display: grid;
      grid-column: 1/2;
      grid-row: 2/3;
      text-align: center;
    }

    .budgetButtons {
      position: relative;
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 65px 65px;
    }
  
    .budgetNavB {
      position: relative;
      display: grid;
      grid-column: 1/2;
      grid-row: 1/2;
      margin: auto;
      z-index: 1;
    }
  
    .budgetNavC {
      position: relative;
      display: grid;
      grid-column: 1/2;
      grid-row: 2/3;
      margin: auto;
    }
  }

  .budgetContents {
    grid-template-rows: 200px 20px auto auto auto auto auto;
  }
}
=======
>>>>>>> James/budget41 (#60)
