.goals-container {
}

.goals-buttons-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  background-color: transparent;
  padding-right: 1rem;
}
.goals-button {
  background-color: white;
  opacity: 0.9;
  border-color: #ffe7ea;
  border-width: 2px;
  border-radius: 10px;
}
