.dashboard-container {
  display: flex;
  justify-content: center;
}

.dashboard-image {
  height: 100%;
  width: 100%;
  background: url("../assets/img/Xi'an.jpg");
}

.new-user {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  justify-content: center;
}

.welcome-text-div {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  justify-content: center;
}

.welcome-text {
  display: grid;
  color: white;
  text-align: center;
}

.welcome-quote {
  display: grid;
  grid-column: 2;
  grid-row: 5;
  justify-content: center;
}

.dash-wrapper-newuser {
  height: 100%vh;
  width: 100%;
}

.dash-img-newuser {
  width: 100%;
  height: 100%;
  background: url("../assets/img/Xi'an.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
}

.dashboard-image-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dash-wrapper {
  height: 100%vh;
  width: 100%;
}

.dash-img {
  width: 100%;
  height: 100%;
  background: url("../assets/img/Xi'an.jpg");
  background-size: cover;

  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  // grid-template-columns: 500px, 500px, 500px;
  // grid-template-rows: 500px, 500px, 500px ;
}

.dashboard-chart {
  display: grid;
  grid-row: 1/5;
  height: 450px;
  width: 450px;
}

.dashboard-chart1 {
  display: grid;
  grid-row: 1/5;
  height: 450px;
  width: 450px;
  overflow-y: auto;
}

.dashboard-chart4 {
  display: grid;
  grid-row: 1/5;
  max-height: 500px;
}

.dash-card1 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  opacity: 0.9;
}

.card1-txt {
  text-align: center;
}

.dash-card2 {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  opacity: 0.9;
}
.dash-card3 {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  opacity: 0.9;
}
.dash-card4 {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  opacity: 0.9;
}

.new-user-button {
  padding-right: 50px;
  padding-left: 50px;
  outline: none;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 300;
  background-color: #ffe7ea;
  border-color: #ffe7ea;
  height: 15rem;
  max-height: 10rem;
}

.new-user-button:hover {
  background-color: #c4d2c7;
  border-color: #c4d2c7;
  color: black;
}
