.custom-button-portfolio-start {
  position: absolute;
  top: 30%;
  left: 30%;
  padding-top: 25rem;
}
.custom-button-portfolio {
  height: 20rem;
  width: 50rem;
}

#main-panel {
  display: flex;
  min-height: 100%;
}

.risk-assessment-start-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.risk-assessment-start-button {
  opacity: 1;
  padding: 15px 50px;
  outline: none;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 300;

  background-color: #ffe7ea;
  color: black;
}

.risk-assessment-start-button:hover {
  background-color: #c4d2c7;
}
.risk-assessment-questions label {
  font-weight: 500;
}

.risk-assessment-submit-button {
  padding: 35px 50px;
  outline: none;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 300;
  background-color: #b3898e;
  border-color: #b3898e;
  color: white;
}

.risk-assessment-submit-button:hover {
  background-color: #c4d2c7;
}

.risk-assessment-submission {
  display: flex;
  justify-content: center;
}

.risk-assessment-title {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  margin-top: 0;
}

.risk-assessment-questionnaire {
  padding-bottom: 3rem;
}

.risk-assessment-button-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.risk-assessment-background-image {
  height: 100%;
  width: 100%;
  background: url("../assets/img/Toronto.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.risk-assessment-button-image-container .risk-assessment-start-button:hover {
  background-color: #c4d2c7;
}

.risk-assessment-button-image-container .risk-assessment-start-button {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.risk-assessment-questionnaire-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.questionnaire-background-image {
  height: 100%;
  width: 100%;
  background: url("../assets/img/NewYork.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.risk-assessment-questionnaire-container .risk-assessment-submission {
  // margin-bottom: 2rem;
}

.review-start-button-div {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}
.risk-assessment-review-container .risk-assessment-start-button {
  // position: absolute;
  // top: 100%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // -ms-transform: translate(-50%, -50%);
}

.review-background-image {
  height: 100%;
  width: 100%;
  background: url("../assets/img/HongKong.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-explained-scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 500px;
}
